<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Entrada/Saida</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('header'); -%>
    <main class="p-3">
      <section class="card-user">
        <div class="container">
          <form novalidate class="form-section">
            <div
              class="d-flex w-100 justify-content-between align-items-center"
            >
              <h1 class="title">Entrada/Saida</h1>
              <button type="submit">Salvar</button>
            </div>
            <div class="input-group">
              <label for="type">Tipo</label>
              <select id="type" name="type">
                <option value="Receita">Receita</option>
                <option value="Despesa">Despesa</option>
              </select>
            </div>
            <div class="input-group">
              <label for="categories">Categorias</label>
              <select id="categories" name="categories">
                <% categories.forEach(category => { %>
                <option value="<%= category.description %>">
                  <%= category.description %>
                </option>
                <% }) %>
              </select>
            </div>
            <div class="input-group">
              <label for="description">Descrição:</label>
              <textarea rows="4" id="description" name="description"></textarea>
            </div>
            <div class="input-group">
              <label for="value">Valor</label>
              <input
                type="text"
                inputmode="numeric"
                id="value"
                name="value"
                required
              />
            </div>
            <div class="input-group">
              <label for="due_date">Data 1</label>
              <input
                type="date"
                inputmode="numeric"
                id="due_date"
                name="due_date"
                required
              />
            </div>
            <div class="input-group">
              <label for="payment_date">Data 2</label>
              <input
                type="date"
                inputmode="numeric"
                id="payment_date"
                name="payment_date"
                required
              />
            </div>
            <div class="input-group">
              <label for="account">Conta</label>
              <select id="account" name="account">
                <% accounts.forEach(account => { %>
                <option value="<%= account.description %>">
                  <%= account.description %>
                </option>
                <% }) %>
              </select>
            </div>
            <div>
              <label for="comments">Habilitar Comentários</label>
              <input type="checkbox" id="comments" name="comments" required />
            </div>
            <div class="input-group">
              <label for="type">Status:</label>
              <select id="type" name="type">
                <option value="Lancada">Lancada</option>
                <option value="Confirmada">Confirmada</option>
                <option value="Paga">Paga</option>
                <option value="Cancelada">Cancelada</option>
              </select>
            </div>
          </form>
        </div>
      </section>
    </main>
    <script async type="module" src="./js/entry.js"></script>
  </body>
</html>
