<div class="table-container">
  <table>
    <thead>
      <tr>
        <% columns.forEach(function(column){ %>
          <th align="left"><%= column %></th>
        <% }); %>
      </tr>
    </thead>
    <tbody>
      <% if (!rows.length) { %>
        <tr>
          <td colspan="<%= columns.length %>">
            <h2>Não há dados a serem exibidos!</h2>
          </td>
        </tr>
      <% } %>
      <% if (rows.length) { %>
        <% rows.forEach(function(row){ %>
          <tr>
            <% row.forEach(function(cells, index){ %>
              <td>
                <div class="d-flex gap-2">
                  <% cells.forEach(function(cell, cellIndex){ %>
                    <% if (index < row.length - 1 ) { %>
                      <%= cell %>
                    <% } %> 
                    <% if (row.length - 1 === index && cellIndex === 0) { %>
                      <a href="<%= cell %>">
                        <img src="/assets/icons/edit.png" alt="edit" />
                      </a>
                    <% } %>
                    <% if (row.length - 1 === index && cellIndex === 1) { %>
                      <button id="table-delete-action" data-item-id="<%= cell %>" class="icon-button">
                        <img src="/assets/icons/delete.png" alt="delete" />
                      </button>
                    <% } %>
                  <% }); %>
                </div>
              </td>
            <% }); %>
          </tr>
        <% }); %>
      <% } %>
    </tbody>
  </table>
</div>