<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ICash - Usuário</title>
    <link rel="icon" type="image/png" href="/assets/icons/favicon.png" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('header'); -%>
    <main>
      <section class="card-user">
        <div class="container">
        <form class="form-section">
          <div class="d-flex w-100 justify-content-between align-items-center">
            <article class="title">Usuário</article>
            <button type="submit">Salvar</button>
          </div>
          <div class="input-group">
            <label for="name">Nome completo</label>
            <input required type="text" name="name" id="name" value="<%= user.name %>" />
          </div>
          <div class="input-group">
            <label for="user">User</label>
            <input required type="text" name="user" id="user" value="<%= user.user %>" />
          </div>
          <div class="input-group">
            <label for="email">Email</label>
            <input required autocomplete="email" type="email" name="email" id="email" value="<%= user.email %>" />
          </div>
          <div class="input-group">
            <label for="password">Senha</label>
            <input required type="password" name="password" id="password" value="<%= user.pwd %>" />
          </div>
          <div class="input-group">
            <label for="level">Level</label>
            <select required name="level" id="level" value="<%= user.level %>">
              <option value="admin" <% if (user.level === "admin") { %> selected <% } %>>Admin</option>
              <option value="usuario" <% if (user.level === "usuario") { %> selected <% } %>>Usuário</option>
            </select>
          </div>
          <div>
            <label for="status">Status</label>
            <input required type="checkbox" name="status" id="status" <% if ((user.status && user.status === "on") || !user.status) { %> checked <% } %> />
          </div>
        </form>
      </div>
      </section>
    </main>
    <script>
      const userData = JSON.parse(
        `<%= JSON.stringify(user) %>`.replace(/&#34;/g, '"')
      );
    </script>
    <script async type="module" src="/js/user.js"></script>
  </body>
</html>
